*{
       padding: 0%;
       margin: 0%;
       font-family: sans-serif;
}
.banner{
       width: 100%; 
       height: 100vh;
       background-image: url(du.JPG);
       background-size: cover;
       background-position: center;

}
.narvebar{
       width: 85%;
       margin: auto;
       padding: 35px 0;
       display: flex;
       align-items: center;
       justify-content: space-between;
}
.logo{
       width: 120px;
       cursor: pointer;

}
.narvebar ul li{
       list-style: none;
       display: inline-block;
       margin: 0px 20;
       position: relative;
       padding-right: 30px;

}
.narvebar ul li a{
       text-decoration: none;
       text-transform:uppercase;
       color:white;
       font-weight: 900;
}
.narvebar ul li::after{
       content:"";
       width: 0;
       height: 3px;
       background-color:white;
       position: absolute;
       left: 0;
       border-bottom-left-radius: -5px;
       border-top-right-radius: -5px;
       bottom: -10px;
       transition: 0.5s;


}
.narvebar ul li:hover::after{
       width: 75%;
}
.container h1{
       font-size: 70px;
       margin-top: 80px;
       color:white;
       text-align: left;
        transition: 0.5s;
        text-shadow: rgba(0,0,0,);
       
}
.container h1:hover{
       cursor: pointer;
       
}
.container p{
       margin: 20px auto;
       font-weight: 500px;
       line-height: 25px;
       color: white;
       text-align: left;
       font-size: 30px;
       text-shadow: rgba(0,0,0,-2);
}
button{
       padding: 50px;
       overflow: hidden;
       background-color: green;
       border-radius: 30px;
       background-color: transparent;
       color: white;
       border:3px solid green;
       padding-right:50px;
       font-size:30px ;
       cursor: pointer;
       position: relative;
      
}
button:hover{
       border: none;

}