*{
       padding: 0;
       border:0;
       box-sizing: border box;
}
#appbar{
       display:flex;
       justify-content:space-evenly;
       align-items: center;
}
.navlinks{
       display: flex;
}