*,
*::before,
*::after{
    padding: 0;
    margin: auto;
    box-sizing: inherit;
}
html{
    font-size: 10px;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400px;
    padding: 2rem 1rem;
    line-height: 1.5;
}
/*functionss*/
@function evaluatefontsize($factor) {
    @return $factor * 10px;
}
.form__container{
    width:30%;
    margin: auto;
    padding: 2rem 4rem;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*functions*/
@function evaluatefontsize($factor) {
    @return $factor * 10px;
}
.form__container h2{
    font-size:20px;
    margin: bottom 10px;
}
.form__container .form--group{
    
        margin-bottom: 20px;
        font-size: 15px;
}
.form__container .form--group label{
    font-size: 17px;
    font-weight: 400;
    color: green;
    
    
}
.form__container .form--group a{
    color:#DF49B0;
}
.form__container .form--group input{
    width:100%;
    padding:1.2rem 1rem;
    border: 2px solid rgba(#000, .2);
     box-shadow: 0 1rem 2rem rgba(#000,.1);
    border-bottom:3px solid #DF49B0;
    transition: all .2s;
    }
    


     



